html,
body {
  background-color: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-areas:
    "header header"
    "col-left col-right"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  background: #f23557;
  color: #f9d81f;
  grid-auto-rows: minmax(50px, auto);
  font-family: "Oswald", sans-serif;
}

.title {
  text-align: center;
  margin: auto;
  color: #f7e704;
}

.headline {
  grid-area: header;
  color: #fdca00;
  font-size: 4.5em;
  width: 100%;
  height: 100%;
  text-align: center;
}

.left {
  grid-area: col-left;
  font-size: 2em;
  height: 100%;
  padding: 1em;
  margin: auto;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
  grid-area: col-right;
  font-size: 30px;
  height: 100%;
  padding: 1em;
  margin: auto;
}

.feel,
.zip {
  font-size: 1em;
  padding: 1em 0.5em;
  margin-top: 50px;
}

#zip {
  padding: 0.2em;
}

#entryHolder {
  color: #f9d81f;
  font-size: 30px;
}

#date::before {
  font-size: 30px;
  content: "Date : ";
}

#temp::before {
  font-size: 30px;
  content: "Temperature : ";
}

#content::before {
  font-size: 30px;
  content: "You're feeling ";
}

.title {
  width: 100%;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  color: #f9d81f;
  display: block;
  font-size: 27px;
  width: 80%;
  margin: auto;
}

input {
  display: block;
  background: #22b2da;
  color: #f9d81f;
  width: 80%;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 0.2em;
  margin: auto;
  margin-top: 0.5em;
}

button {
  background: #134ece;
  color: #fffdf1;
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 25px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px rgb(238, 228, 228);
  cursor: pointer;
  width: 150px;
  height: 60px;
  align-items: center;
  margin: 0 150px;
  text-align: center;
}

button:active {
  box-shadow: 1px 2px 3px #444;
}

h1 {
  font-size: 36px;
}

.center {
  text-align: center;
  width: 100%;
  margin: auto;
}

textarea {
  display: block;
  background: #22b2da;
  color: #f9d81f;
  width: 80%;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 0.2em;
  margin: 10px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: rgb(41, 54, 59);
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgray;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightgray;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 768px) {
  #app {
    grid-template-areas:
      "header"
      "col-right"
      "col-left "
      "footer";
    grid-template-columns: 1fr;
    /* grid-template-rows: 60px auto auto 50px; */
  }
}
